@use "presets" as *;
@use "mixins" as *;

.left-sidebar {
  margin-bottom: $gap-xl;
}

.user-login {
  &__tabs {
    position: absolute;
    top: 0;
    right: $gap;
    border: none;
    margin-right: -5px;

    .nav-link {
      color: $color-gray;
      padding: 10px 5px 12px;
      position: relative;

      &:hover {
        border: none;
        position: relative;
        top: 1px;
        right: 1px;
      }

      &.active {
        position: relative;
        top: 1px;
        background-color: transparent;
        border: none;
        color: $color-white;

        &:hover {
          position: relative;
          right: 0;
        }
      }
    }
  }
}

$image-size: 75px;
$image-size-with-padding: $image-size + $gap;

.site-news-item {
  clear: both;
  position: relative;

  &:not(:last-child) {
    min-height: $image-size-with-padding;
    margin-bottom: $gap;

    &::after {
      content: "";
      position: absolute;
      width: calc(100% - 90px);
      height: 1px;
      background-color: $color-gray;
      bottom: -4px;
      right: 0;
    }
  }

  &:hover {
    .img-thumbnail {
      border-color: $color-accent;
      background-color: $color-accent;
    }
  }

  &__thumbnail {
    float: left;
    width: $image-size !important;
    margin-right: 10px;
  }

  &__image {
    width: 100%;
  }

  &__title {
    margin-bottom: 0.5em;
  }

  &__link {
    transition: color 0.25s;
    text-decoration: none;
    @include block-shortener(1rem, 1.5, 50px, 2);
  }

  &__date {
    text-align: right;
    font-size: 0.8rem;
    color: $color-gray-dark;
  }
}

.top-films {
  &__body {
    padding-left: 0;
    padding-right: 0;
  }

  &__list {
    margin-bottom: 0;
  }

  &__item {
    background: transparent;
    margin-left: -1px;
    margin-right: -1px;
    color: $color-primary;
    padding-right: 50px;

    &:first-child {
      border-top: none;
      border-radius: 0;
    }

    &:last-child {
      border-bottom: none;
      border-radius: 0;
    }

    &:hover,
    &:focus {
      color: $color-white;
      background-color: $color-accent;
      border-color: $color-accent;

      .badge {
        background-color: $color-dark !important;
      }
    }
  }

  &__badge {
    position: absolute;
    right: $gap;
    top: 50%;
    transform: translateY(-50%);
  }
}

.nav-item button {

}
