.header-logo__title, .header-logo__description {
  text-shadow: 0 0 5px black, 0 0 10px black, 0 0 20px black;
}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .show > .nav-link {
  background-color: #053159;
}

.navbar-dark .navbar-nav .nav-link.active:focus, .navbar-dark .navbar-nav .nav-link.active:hover {
  background-color: #517ba2;
}

.navbar-dark .navbar-nav .nav-link {
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:focus {
  background-color: #165690;
}

.navbar {
  padding: 6px;
}

.nav-link {
  padding: 13px 12px;
}

.bg-dark {
  background-color: #191919;
}

.container {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navbar > .container,
.navbar > .container-fluid,
.navbar > .container-lg,
.navbar > .container-md,
.navbar > .container-sm,
.navbar > .container-xl,
.navbar > .container-xxl {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navbar-left > li,
.navbar-right > li {
  text-align: center;
}

.card:not(:last-of-type) {
  margin-bottom: 30px;
}

.card-header {
  font-size: 1.125rem;
  letter-spacing: 0.08em;
  background-color: #df8a13;
  color: #ffffff;
  border: none;
}

.card-body {
  background-color: #f4f4f4;
  border: 1px solid #d5d5d5;
  border-radius: 0 0 4px 4px;
}

html {
  font-size: 16px;
}

body {
  font-size: 16px;
  font-family: "PT Sans", sans-serif;
  overflow-y: scroll;
}

a {
  color: #165690;
}
a:hover, a:focus {
  color: #df8a13;
  text-decoration: none;
}

.header {
  margin-bottom: 80px;
}

.header-logo {
  text-align: center;
  padding: 100px 0;
  background-image: url("../img/header-bg.jpg");
  background-position: center;
  background-size: cover;
}
.header-logo__title {
  display: block;
  color: #df8a13;
  font-family: "PT Serif", serif;
  letter-spacing: 0.33em;
  margin-right: -0.33em;
}
.header-logo__description {
  display: block;
  font-size: 1.15rem;
  letter-spacing: 0.2em;
  color: #ffffff;
}

.main {
  margin-bottom: 80px;
}

.left-sidebar {
  margin-bottom: 80px;
}

@media (min-width: 576px) {
  .header-logo__title {
    font-size: 3.5rem;
    letter-spacing: 0.33em;
  }
}

@media (min-width: 768px) {
  .navbar-dark .navbar-nav .nav-link {
    border-radius: 4px;
  }
  .navbar-right > li {
    margin: 5px 5px 5px 0;
  }
  .navbar-left > li {
    margin: 5px 0 5px 5px;
  }
}

@media (max-width: 1199.8px) {
  .nav-item {
    margin-bottom: 0 !important;
  }
}

@media (max-width: 767.8px) {
  .navbar-left {
    margin-bottom: 0 !important;
  }
}

@media (max-width: 575.8px) {
  .header-logo__title {
    font-size: 2.5rem;
  }
}